*.o
*.a
*.la
*.lo
*.pc
*.tar.*
*.sha256*
stamp-h1
Makefile.in
Makefile
.deps
.libs
.version
.dirstamp

# build-aux/release.mk related litter
/.tarball-version
/tag-*

aclocal.m4
autoconf
autoheader
autom4te.cache
automake
compile
config.*
configure*
debian/changelog
debian/kronosnetd.postinst
debian/patches
depcomp
install-sh
libtoolize
ltmain.sh
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
missing
libtool
autoscan.log
init/kronosnetd
init/kronosnetd.service
kronosnetd/kronosnetd
kronosnetd/knet-keygen
kronosnetd/kronosnetd.logrotate
kronosnet.spec
libknet/compress_canary
libknet/crypto_canary
*.swp
*_test
*_bench
test-driver
*.trs
*.log
Doxyfile
doxyfile.stamp
xml/
